@model List<Post>

@{
    ViewBag.Title = "Instagram";
    Layout = "_Layout";
}

<div class="col col-12 mt-5 px-3">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
        @foreach (var post in @Model)
        {
            <div class="col justify-content-center align-items-center">
                <a asp-action="Details" asp-controller="Post" asp-route-id="@post.Id">
                    <img class="w-100 img-fluid  rounded-0" style="height: 270px;" src="@post.FilePath"/>
                </a>
            </div>
        }
    </div>
</div>

