@model List<User>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="row row-cols-2">
    <div class="col col-8">
    
    </div>
    <div class="col col-4">
        
    </div>
</div>