@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@{ 
    var user= userManager.FindByNameAsync(User.Identity.Name);
    var result = "";
    if(user!=null && signInManager.IsSignedIn(User))
    {
        result = user.Result.Avatar;
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/lesson58.styles.css" asp-append-version="true"/>
    
</head>
<body>
@inject SignInManager<User> signInManager;
@inject UserManager<User> userManager;
<div class="container-fluid ">
    <main role="main" class="pb-3">
        <div class="row row-cols-2 ">
            <div class="col col-2 buttons position-fixed">
                <div class="row row-cols-1">
                    <div class="col ">
                        <img class="w-75 mt-2" src="../images/logo2.png"/>
                    </div>
                    <div class="nav flex-column ms-3 " id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a href="#" class="btn border border-0 btn-outline-light nav-link text-start text-dark my-3 ">
                            <i class=""><img class="w-25" src="../images/home.png"/></i><span class="ms-3">Home</span>
                        </a>
                        <a href="#" class="btn border border-0 btn-outline-light nav-link text-start text-dark my-3">
                            <i class=""><img class="w-25" src="../images/search.png"/></i><span class="ms-3">Search</span>
                        </a>
                        <a href="#" class="btn border border-0 btn-outline-light nav-link text-start text-dark my-3">
                            <i class=""><img class="w-25" src="../images/social.png"/></i><span class="ms-3">Explore</span>
                        </a>
                        <a href="#" class="btn border border-0 btn-outline-light nav-link text-start text-dark my-3">
                            <i class=""><img class="w-25" src="../images/home.png"/></i><span class="ms-3">Home</span>
                        </a>
                        <a href="#" class="btn border border-0 btn-outline-light nav-link text-start text-dark my-3">
                            <i class=""><img class="w-25" src="@result"/></i><span class="ms-3">Profile</span>
                        </a>
                        <a href="#" class="btn border border-0 btn-outline-light nav-link text-start text-dark my-3">
                            <i class=""><img class="w-25" src="../images/home.png"/></i><span class="ms-3">More</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col col-10">
                @RenderBody()
            </div>
        </div>
    </main>
</div>
</body>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)

</html>

